In [1]:
from broker_module import Broker
from kiteconnect import KiteConnect
from datetime import datetime
import pandas as pd
from algo_module import Algo_manager
from time import perf_counter
from time import sleep

from ks_api_client import ks_api
from datetime import timedelta

from broker_module import Broker

import logging

# logger = logging.getLogger(__name__)
# logger.setLevel(logging.INFO)
# formatter = logging.Formatter('%(levelname)s|%(className)s->%(funcName)s|%(message)s')

# timestamp_string = datetime.now().strftime("%Y-%m-%d %H_%M_%S")
# file_handler = logging.FileHandler(f'./{"test logs"}/team.log')
# file_handler.setFormatter(formatter)

# logger.addHandler(file_handler)

# kotak_access_token = "d2c0a033-86d3-3b66-9b94-7241b0078fef"
# kotak_user_id = "HG11011990"
# kotak_consumer_secret = "PGLsaajJLkpKLFXNO6pXrjCr_6Qa"
# kotak_consumer_key = "ug1QtNucZF4WLSinsfGfQ0sgjoYa"
# kotak_password = "KSSh@r3d"
# kotak_access_code = "9179"

# broker = Broker(broker="zerodha", kotak_consumer_key=kotak_consumer_key, kotak_access_token=kotak_access_token,
#                 kotak_consumer_secret=kotak_consumer_secret,kotak_user_id=kotak_user_id,
#                 kotak_access_code=kotak_access_code, kotak_user_password=kotak_password, logger=logger)
# expiry_datetime = broker.get_next_expiry_datetime()
# print(expiry_datetime)
# broker.get_pnl() 


# start_time = datetime(2020,1,1,8,50)
# end_time = datetime(2020,1,1,9,10)

# algo_manager = Algo_manager(broker_name='zerodha',
#                     underlying_name='NIFTY',
#                     kite_api_key="5ytarhiur9g1jebq",
#                     kite_access_token="O7yx7U0oKYJSyx1rihhBhVF8Axb5umAh",
#                     paper_trade=True, log_folder="logs",
#                     begin_time=start_time,
#                     close_time=end_time)

# start_time = datetime(2020,1,1,8,20).time()
# close_time = datetime(2020,1,1,9,7).time()
# end_time = datetime(2020,1,1,9,10,0).time()

# algo_manager = Algo_manager(broker_name='kotak',
#                     underlying_name='NIFTY',
#                     kotak_consumer_key="ug1QtNucZF4WLSinsfGfQ0sgjoYa",
#                     kotak_access_token="d2c0a033-86d3-3b66-9b94-7241b0078fef",
#                     kotak_consumer_secret="PGLsaajJLkpKLFXNO6pXrjCr_6Qa",
#                     kotak_user_id="HG11011990",
#                     kotak_access_code="9407",
#                     kotak_user_password="KSSh@r3d",
#                     paper_trade=False, log_folder="logs",
#                     begin_time=start_time,
#                     close_time=close_time)

In [11]:
# Kite Object
broker_api_key="5ytarhiur9g1jebq"
broker_access_token="FuG7lOaa75BIFjO8kGtZDTCV99B6msXG"


kite = KiteConnect(api_key=broker_api_key)
kite.set_access_token(broker_access_token)
print("Done")

Done

In [54]:
# Kotak Object

ks_access_token = "d2c0a033-86d3-3b66-9b94-7241b0078fef"
ks_user_id = "HG11011990"
ks_consumer_secret = "PGLsaajJLkpKLFXNO6pXrjCr_6Qa"
ks_consumer_key = "ug1QtNucZF4WLSinsfGfQ0sgjoYa"
ks_password = "KSSh@r3d"
ks_access_code = "2825"

client = ks_api.KSTradeApi(access_token = ks_access_token, userid = ks_user_id, \
                consumer_key = ks_consumer_key, ip = "127.0.0.1", app_id = "")
client.login(password=ks_password)
a = client.session_2fa(access_code = ks_access_code)
print(a)
options_url = "https://preferred.kotaksecurities.com/security/production/TradeApiInstruments_FNO_07_01_2022.txt"
odf = pd.read_csv(options_url, sep='|')
odf = odf[(odf['optionType'] != 'XX') & (odf['optionType'].notnull() )] \
    [['instrumentToken','instrumentName','strike','expiry','optionType']].drop_duplicates()
odf['expiry_datetime'] = pd.to_datetime(odf['expiry'], format='%d%b%y') + timedelta (hours=15, minutes =30)

equity_url = "https://preferred.kotaksecurities.com/security/production/TradeApiInstruments_Cash_07_01_2022.txt"
edf = pd.read_csv(equity_url, sep='|')
edf = edf[['instrumentToken','instrumentName']].drop_duplicates()

kotak_instrument_book = odf.append(edf, ignore_index=True)

{'advancedChart': {'host': 'https://kotaksecurities.com/chartiqtrade/', 'port': 443}, 'apiToken': {'redirect': {'host': 'https://mksapi.kotaksecurities.com', 'port': 443}, 'sessionId': '54627984#0-112122'}, 'broadcast': {'host': 'https://dtstream.kotaksecurities.com/', 'port': 443}, 'clientCode': 'ZC1BK', 'clientName': 'HITESH  GULATI', 'dormantType': '-', 'emailId': '', 'enabledExchangeSegments': {'CASH': [{'exchange': 'NSE', 'status': 'ACTIVE'}, {'exchange': 'BSE', 'status': 'ACTIVE'}], 'CDS': [{'exchange': 'NSE', 'status': 'ACTIVE'}, {'exchange': 'MCX', 'status': 'NOACCESS'}], 'COMMODITY': [{'exchange': 'MCX', 'status': 'ACTIVE'}], 'FNO': [{'exchange': 'NSE', 'status': 'ACTIVE'}, {'exchange': 'BSE', 'status': 'INACTIVE'}]}, 'enabledProducts': ['NORMAL', 'SUPERMULTIPLE', 'SUPERMULTIPLEOPTION', 'MTF', 'MIS'], 'enabledSegments': ['CASH', 'FO', 'CDS'], 'getLTPURL': 'https://mksapi.kotaksecurities.com/newserviceapi/stockinfo/getLTPData?', 'getLtp': {'host': 'https://mksapi.kotaksecurities.com', 'port': 443}, 'isNRI': 'N', 'loginTime': '1/9/2022 11:56:19 PM', 'marginProduct': {'isEnabled': 'N'}, 'marketData': {'host': 'https://mksapi.kotaksecurities.com', 'port': 443}, 'nomineeFlag': 0, 'phoneNo': '', 'poaFlag': 'Y', 'redirect': {'host': 'https://tradeapi.kotaksecurities.com/apim', 'port': 443}, 'search': {'host': 'https://mksapi.kotaksecurities.com/', 'port': 443}, 'searchURL': 'https://mksapi.kotaksecurities.com/newserviceapi/securities/search/q/', 'service': {'host': 'https://tradeapi.kotaksecurities.com/apim', 'port': 443}, 'sessionToken': 'D605DA9A178D8C0E5756F03E617A4D54B3883DC74F0D', 'stwtFlag': 'Y', 'userId': 'HG11011990', 'weblink': {'host': 'https://mtrade.kotaksecurities.com/', 'port': 443}}

In [4]:
# Prepare FnO df
fno_df = pd.DataFrame({'underlying':['NIFTY','NIFTY','NIFTY'],
                        'call_put':['PE','PE','CE'],
                        'strike':[15_000, 15_100,18_000],
                        'expiry_datetime':[expiry_datetime,expiry_datetime,expiry_datetime]})
# broker.get_multiple_fno_instrument_id(fno_df=fno_df)

# fno_df['instrument_id']=broker.get_multiple_fno_instrument_id(fno_df=fno_df)

# fno_df['ltp'] = broker.get_multiple_ltp(instrument_df=fno_df,exchange='NFO')


fno_df

NameError: name 'expiry_datetime' is not defined

In [4]:
total_count = 0
last_total_count = 0
t0_reset = True
stop_triggered = False
start_time = datetime(2020,1,1,0,34,0).time()
end_time = datetime(2020,1,1,0,36,1).time()
while datetime.now().time() <= end_time:
    if datetime.now().time() >= start_time:
        if t0_reset:
            t0 = perf_counter()
            stop_triggered = False
            t0_reset = False
        try:
            kite.positions()
            total_count += 1
        except:
            if not stop_triggered:
                print(perf_counter()-t0,total_count-last_total_count,total_count)
                last_total_count = total_count
                stop_triggered = True
        if (perf_counter() - t0 ) > 60:
            t0_reset = True 
            if not stop_triggered:
                print(perf_counter()-t0,total_count-last_total_count,total_count)
                last_total_count = total_count
            
t1 = perf_counter()

60.01679320799997 276 276
60.12325049999998 275 551

In [22]:
i = 'NSE:IDEA'
a = kite.quote('NSE:IDEA')[i]['depth']['buy'][0]['price']
a

0

In [24]:
pos = {'oid':[101,102,103,104,105],
        'id':['AAA','BBB','AAA','BBB','CCC'],
        'eq':[100,50,-50,-50,-100],
        'price':[20,60,23,57,200],
        'ltp':[22,55,22,55,210]}
pdf = pd.DataFrame(pos)
pdf

   oid   id   eq  price  ltp
0  101  AAA  100     20   22
1  102  BBB   50     60   55
2  103  AAA  -50     23   22
3  104  BBB  -50     57   55
4  105  CCC -100    200  210

In [25]:
pdf['price_change'] = pdf['ltp'] - pdf['price']
pdf['pnl'] = pdf['price_change'] * pdf['eq']
pdf

   oid   id   eq  price  ltp  price_change   pnl
0  101  AAA  100     20   22             2   200
1  102  BBB   50     60   55            -5  -250
2  103  AAA  -50     23   22            -1    50
3  104  BBB  -50     57   55            -2   100
4  105  CCC -100    200  210            10 -1000

In [26]:
pdf['pnl'].sum()

-900

In [43]:
c = pdf[['id','eq','ltp','pnl']].groupby(['id','ltp']).sum().reset_index()
r = c[c['eq']==0]['pnl'].sum()
c = c[c['eq']!=0]
c['price'] = c['ltp'] - c['pnl'] / c['eq']
c['q'] = c['eq'].abs()
c['m'] = c['eq'] / c['q']
buy_sell_multiplier_map = {-1:'sell',1:'buy'}
c['bs'] = c['m'].map(buy_sell_multiplier_map)
c

    id  ltp   eq   pnl  price    q    m    bs
0  AAA   22   50   250   17.0   50  1.0   buy
2  CCC  210 -100 -1000  200.0  100 -1.0  sell

In [38]:

c

    id  ltp   eq   pnl  price
0  AAA   22   50   250   17.0
2  CCC  210 -100 -1000  200.0

In [40]:
c['q'] = c['eq'].abs()

0     50
2    100
Name: eq, dtype: int64

In [23]:
def ceil_dt(dt, delta):
    return dt - (dt - datetime.min) % delta

now = datetime.now()
print(now)    
print(ceil_dt(now, timedelta(minutes=5)))

2022-01-13 00:35:04.449481
2022-01-13 00:35:00

In [10]:
dt = now
delta = timedelta(minutes=5)
dt

datetime.datetime(2022, 1, 13, 0, 28, 50, 485190)

In [11]:
(datetime.min - dt) % delta

datetime.timedelta(seconds=69, microseconds=514810)